.course {
	/* border: 1px solid black; */
	margin: 3px;
	padding: 3px 8px 3px 8px;
	color: black;
	background: white;
	font-family: sans-serif;
	border-radius: 5px;
	background: lightgray;
	cursor: pointer;

	/* If we don't do this, the annotations will not all algin in a row */
	vertical-align: top;
}
.course .annotation {
	font-size: .7em;
	text-align: center;
	color: #333;
	margin-top: -.4em;
	margin-bottom: -.4em;

}
.course .annotation:after {
	content: "\0000a0"; /* unicode for nbsp */
}
.course.required {
	background: limegreen;
}
.course.required .annotation:after {
	content: "(Required)";
}
.course.elective {
	background: yellow;
}
.course.elective .annotation:after {
	content: "(Elective)";
}
.course.selected {
	box-shadow: 0px 0px 5px blue;
}
.course:focus {
	/*box-shadow: 0px 0px 5px red;*/
	/* prevent the dotted outline from being drawn on focus */
	outline: 0;
}
.course.prereq {
	box-shadow: 0px 0px 5px darkgoldenrod;
}
.course.defunct {
	opacity: 0.5;
}

/* Electives block styles */
.electives-block {
	/* border: 1px solid black; */
	margin: 3px;
	padding: 3px 8px 3px 8px;
	color: black;
	background: white;
	font-family: sans-serif;
	border-radius: 5px;
	background: lightgray;
	cursor: pointer;
	display: inline-block;

	/* If we don't do this, the annotations will not all algin in a row */
	vertical-align: top;
}
.electives-block .courses-list {
	margin: .5em;
	padding: .5em;
	background: #ddd;
	border-radius: 5px;
	min-height: 2em;
	min-width: 2em;
	box-shadow: 0px 0px 5px black;
}
.electives-block .title {
	font-size: 1.1em;
	font-weight: bold;
}
.electives-block .title,.electives-block .requirement {
	display: inline-block;
}
.electives-block .requirement {
	float: right;
}
.electives-block .requirement:before {
	content: '(';
	margin-left: 1em;
}
.electives-block .requirement:after {
	content: ')';
}
