#graphview {
	width: 800px;
	height: 600px;
	position: relative;
	font-family: Arial, sans-serif;
}
#graphview-nav {
	height: 1.5em;
	padding: .25em;
	border-radius: 5px 5px 0 0;
	background: #036;
}
#graphview-graph {
	width: 800px;
	height: 600px; 	/* fix! */
	overflow: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: 2em;
}
#graphview-graph.sidepanel-visible {
	width: 600px;
}
#graphview .graphview-button {
	color: #aaa;
	background: #147;
	border: 1px solid #147;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0px 4px;
	border-radius: 4px;
	display: inline-block;
}
#graphview .graphview-button:hover {
	color: #fff;
	border: 1px solid #fff;
}
#graphview .graphview-close-button {
	position: absolute;
	right: 4px;
	z-index: 1000;
}
#graphview .graphview-button-desc {
	font-size: .7em;
}

#graphview-term-menu {
	z-index: 1;
	margin-left: 2em;
	position: absolute;
}
#graphview-term-menu div {
	display: none;
	font-weight: normal;
	font-size: .8em;
}
#graphview-term-menu:hover div {
	display: block;
}
#graphview-term-menu ul{
	list-style: none;
	background: #5f6975;
	padding: 0;
	font-size: 1.2em;

}
#graphview-term-menu ul li{
	color: #aaa;
	padding: 2px 15px;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
	width: 7em;
	font-weight: normal;
	font-size: 100%;
}
#graphview-term-menu ul li:hover{
	color: #fff;
}

#graphview svg {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#graphview .invisible {
	display: none !important;
}
#graphview .hidden {
	visibility: hidden !important;
}

/* course info */
#graphview-courseinfo {
	font-family: Arial, sans-serif;
	width: 200px;
	background: #036;
	color: white;
	padding: 6px;
	position: absolute;
	right: 0px;
	overflow: auto;
	height: 600px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#graphview-courseinfo a {
	color: inherit;
	text-decoration: inherit;
	word-wrap: break-word;
	/* older browser support */
	-ms-word-break: break-all;
	word-break: break-all;
	word-wrap: break-word;
}
#graphview-courseinfo a:hover {
	text-decoration: underline;
}
#graphview-calendar-link div {
	-ms-word-break: normal;
	word-break: normal;
	word-wrap: normal;
}
#graphview-courseinfo .name {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}
#graphview-courseinfo .title {
	font-style: italic;
	text-align: center;
	padding-bottom: 2px;
}
#graphview-courseinfo .description {
	font-size: .8em;
	padding: 3px;
	background: #147;
	border-radius:4px;
	margin-bottom: 20px;
}
#graphview-courseinfo hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(170,170,170,0), rgba(170,170,170,0.75), rgba(170,170,170,0));
	background-image:    -moz-linear-gradient(left, rgba(170,170,170,0), rgba(170,170,170,0.75), rgba(170,170,170,0));
	background-image:     -ms-linear-gradient(left, rgba(170,170,170,0), rgba(170,170,170,0.75), rgba(170,170,170,0));
	background-image:      -o-linear-gradient(left, rgba(170,170,170,0), rgba(170,170,170,0.75), rgba(170,170,170,0));
	background-image:         linear-gradient(left, rgba(170,170,170,0), rgba(170,170,170,0.75), rgba(170,170,170,0));
}


#graphview-courseinfo .offered {
	font-size: .8em;
	text-align: center;
	margin-bottom: 10px;
}
#graphview-courseinfo .desc {
	font-size: .8em;
	color: #aaa;
	margin-bottom: 2px;
}

#graphview-courseinfo .time {
	display: inline-block;
	background: #fc6;
	color: #000;
	border-radius: 4px;
	padding: 1px 3px 1px 3px;
}
#graphview-courseinfo .fall {
	background: #fc6;
}
#graphview-courseinfo .spring {
	background: #cf9;
}
#graphview-courseinfo .summer {
	background: #fcf;
}


#graphview-courseinfo ul {
	padding: 0px;
	margin: 0px;
	margin-left: 2em;
	font-size: .8em;
}
#graphview-courseinfo li {
	cursor: pointer;
	display: block;
}
#graphview-courseinfo li:hover {
	text-decoration: underline;
}
#graphview-courseinfo .year {
	font-size: .8em;
	margin-left: 1em;
}
